@page
@using System.Linq
@using Newtonsoft.Json
@model GraphDB.Pages.IndexModel
@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var commandHistory = @Html.Raw(Json.Serialize(Model.Command.History));
            commandHistory.forEach(function(item, index) {
                createVueApp(index, item.response);
            });
        });

        function createVueApp(elementIndex, responseData) {
            new Vue({
                el: '#app-' + elementIndex,
                data: {
                    itemResponse: responseData
                },
                computed: {
                    formattedResponse: function() {
                        return this.itemResponse;
                    }
                }
            });
        }
</script>
}



<!-- Database Status Display -->
<section class="database-status">
    <p>@(Model.IsDatabaseLoaded ? $"Current database: {Model.CurrentDatabase}" : "No database is currently loaded.")</p>
</section>

<!-- Command Input Form -->
<section class="command-input">
    <form method="post" asp-page-handler="ExecuteCommand" class="form-container">
        <div class="form-group flex-container">
            <textarea asp-for="Command.Command" placeholder="Enter command" class="form-control flex-input" rows="4"></textarea>

            <button type="submit" class="btn btn-primary">Execute</button>
        </div>
    </form>
</section>

<!-- Command History Display -->
<section class="command-history">
    <form method="post" asp-page-handler="DeleteHistory">
        <button type="submit" class="btn btn-warning">Clear History</button>
    </form>
    @if (Model.Command.History.Any())
    {
        @foreach (var item in Model.Command.History.Select((value, index) => new { value, index }))
        {
            <div class="command-response-box">
                <p><strong>Command:</strong> @item.value.Command</p>
                <div id="@($"app-{item.index}")">
                    <!-- Vue will render the HTML content of itemResponse here -->
                    <pre v-html="formattedResponse"></pre>
                </div>
            </div>
        }
    }
    else
    {
        <p>No history available.</p>
    }
</section>
